<IfModule mod_rewrite.c>
	# This controls what config options to use.
	# SetEnv RELEASE_MODE DEV
	RewriteEngine On
	RewriteBase /
	
	# These are the real folders.
	RewriteRule ^resources/(.*)$ resources/$1 [L]
	RewriteRule ^docs/(.*)$ docs/$1 [L]
	RewriteRule ^install/(.*)$ install/$1 [L]
	RewriteRule ^modules/(.*)$ modules/$1 [L]
  
	# URI rewrite
	RewriteRule ^([a-zA-Z0-9\/_-]*)$ index.php?act=$1 [QSA,NC,L]
</IfModule>
